<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name= "suit1">
<test name="test1" >
<groups>
<run>
<include name="ui">

</include >

</run>


</groups>

<packages>
<package name="testNgframe"> </package>
<package name="testNgframe"> </package>
</packages>

<classes>


</classes>

</test>


<test name="test2" >


<classes>
<class name="TestngFrame.SmokeTest"></class>
<class name="TestngFrame.regressionTest"></class>


</classes>

</test>



</suite>